body{
  background-color:black;
  
}

  body:hover{
    text-decoration: underline;
    animation: blue spin 5s infinite;}
    
  @keyframes spin {
    to{
      transform: rotate(3 turn);
    }
  }
  

#Mercury{
  height: 100px;
  width: 100px;
  background: linear-gradient( to top,#807e7d,#6B6969,#555454, #403f3f,#2b2a2a, #403f3f);
  margin: 30px 0px 0px 95px;
  position: relative;
  border-radius: 50%;
}
#Mercury span{
  position: absolute;
  color: white;
  font-weight: bold;
  text-align: right;
  font-size: 30px;
  left: 120%;
}

#Venus{
  height: 100px;
  width:100px;
  border-radius: 50%;
  margin: 40px 0px 0px 95px;
  position: relative;
  background: linear-gradient( to top, #d43b36,#df666f, #d94b55,#24303b);
}
#Venus span{
  position: absolute;
  color: white;
  font-weight: bold;
  text-align: right;
  font-size: 30px;
  left: 120%;
}

#Earth{
  height: 100px;
  width:100px;
  border-radius: 50%;
  margin: 50px 0px 0px 95px;
  position: relative;
  background: linear-gradient(to bottom, Royalblue, Royalblue,green);
}
#Earth span{
  position: absolute;
  color: white;
  font-weight: bold;
  text-align: right;
  font-size: 30px;
  left: 120%;
}

#Mars{
  height: 100px;
  width:100px;
  border-radius: 50%;
  margin: 60px 0px 0px 95px;
  color: white;
  position: relative;
  background: linear-gradient(to top, #d43b36, #df666f, #d94b55, #24303b);
}
#Mars span{
  position: absolute;
  color: white;
  font-weight: bold;
  text-align: right;
  font-size: 30px;
  left: 120%;
}

#Jupiter{
  position: relative;
  height: 100px;
  width:100px;
  border-radius: 50%;
  margin: 70px 0px 0px 95px;
  background: linear-gradient(to top,#757A5B,#C19770,#D5B895,#FAF0DC,#EBDCB5,#757A5B,#C19770,
  #D5B895,#FAF0DC,#EBDCB5);
}
#Jupiter span{
  position: absolute;
  color: white;
  font-weight: bold;
  text-align: right;
  font-size: 30px;
  left: 120%;
}

#Saturn{
  position: relative;
  height: 100px;
  width:100px;
  margin: 70px 0px 0px 95px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Saturn span{
  position: absolute;
  color: white;
  font-weight: bold;
  text-align: right;
  font-size: 30px;
  left: 140%;
}
#Saturn .globe {
  position: absolute;
  height: 100px;
  width:100px;
  border-radius: 50%;
  color: white;
  text-align: right;
  font-size: 30px;
  font-weight: bold;
  background: linear-gradient(to top,#ceb8b8,#ead6b8,#e3e0c0,#bfbdaf,
#cecece,#ceb8b8,#ead6b8,#e3e0c0,#bfbdaf,#cecece);
}
#Saturn .rings{
  height: 10px;
  width:150px;
  border-radius: 30%;
  flex: none;
  background: linear-gradient(to top,#ceb8b8,#ead6b8,#e3e0c0,#bfbdaf,
  #cecece,#ceb8b8,#ead6b8,#e3e0c0,#bfbdaf,#cecece);
  rotate: -9deg;
}


#Uranus{
  height: 100px;
  width:100px;
  border-radius: 50%;
  margin: 85px 0px 0px 95px;
  position: relative;
  background: linear-gradient(to top,#9ceDea,#52cbdb,#186c78);
}
#Uranus span{
  position: absolute;
  color: white;
  font-weight: bold;
  text-align: right;
  font-size: 30px;
  left: 120%;
}

#Neptune{
  height: 100px;
  width:100px;
  border-radius: 50%;
  margin: 95px 0px 0px 95px;
  position: relative;
  background: linear-gradient(to top,#2E5D9D,#3160a2,#5284ca,#1e3b54);
}
#Neptune span{
  position: absolute;
  color: white;
  font-weight: bold;
  text-align: right;
  font-size: 30px;
  left: 120%;
}

#Pluto{
  height: 100px;
  width:100px;
  border-radius: 50%;
  margin: 100px 0px 0px 95px;
  position: relative;
  background: #7B3F00;
}
#Pluto span{
  position: absolute;
  color: white;
  font-weight: bold;
  text-align: right;
  font-size: 30px;
  left: 120%;
}

h1{
  text-align: center;
  font-weight: bold;
  color:paleturquoise;
  text-transform: uppercase;
  text-decoration: underline;
}