body{
  background: black;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  }

.sun{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: -4px 2px 40px #f9c05f;
  background-color: red;
  position: absolute;
}
  

.mercury{
  height: 20px;
  width: 20px;
  background: linear-gradient( to top,#807e7d,#6B6969,#555454, #403f3f,#2b2a2a, #403f3f);
  position: absolute;
  border-radius: 50%;
  box-shadow: -4px 2px 40px #f9c05f;
  animation: orbit2 3s linear infinite;
}

@keyframes orbit2{
  from{transform:rotate(0deg) translateX(70px) rotate(0deg);}
  to{transform:rotate(360deg) translateX(70px) rotate(-360deg);}
  }

  .mercury-outline,.venus-outline,.earth-outline,.mars-outline,.jupiter-outline,.saturn-outline,
  .uranus-outline,.neptune-outline{
    border-radius: 50%;
    border: 1px dotted #ddd9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .mercury-outline{
    height:140px;
    width: 140px;
  }

  .mercury span{
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 20px;
    left: 20px;
  }
  

.venus{ 
  height: 35px;
  width: 35px;
  background: linear-gradient( to top, #d43b36,#df666f, #d94b55,#24303b);
  position: absolute;
  border-radius: 50%;
  box-shadow: -4px 2px 40px #f9c05f;
  animation: orbit3 10s linear infinite;
}

@keyframes orbit3{
  from{transform:rotate(0deg) translateX(100px) rotate(0deg);}
  to{transform:rotate(360deg) translateX(100px) rotate(-360deg);}
  }
.venus-outline{
  height:200px;
  width: 200px;}

.venus span{
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 20px;
  left: 100%;
}

.earth{
  height: 50px;
  width: 50px;
  position: absolute;
  border-radius: 50%;
  box-shadow: -4px 2px 40px #2855d6;
  animation: orbit4 20s linear infinite;
  background: linear-gradient(to bottom, Royalblue, Royalblue,green);
}
.earth span{
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 20px;
  left: 110%;
}
.earth-outline{
  height:300px;
  width: 300px;
}
  @keyframes orbit4{
    from{transform:rotate(0deg) translateX(150px) rotate(0deg);}
    to{transform:rotate(360deg) translateX(150px) rotate(-360deg);}
    }


.mars{
  height: 30px;
  width: 30px;
  position: absolute;
  border-radius: 50%;
  box-shadow: -4px 2px 40px #fea535;
  animation: orbit5 40s linear infinite;
  background: linear-gradient(to top, #d43b36, #df666f, #d94b55, #24303b);
}
.mars span{
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 20px;
  left: 100%;
}
@keyframes orbit5{
  from{transform:rotate(0deg) translateX(185px) rotate(0deg);}
  to{transform:rotate(360deg) translateX(185px) rotate(-360deg);}
  }
  .mars-outline{
    height:370px;
    width: 370px;
  }


.jupiter{ 
  height: 45px;
  width: 45px;
  position: absolute;
  border-radius: 50%;
  box-shadow: -4px 2px 40px #cac2b9;
  animation: orbit6 60s linear infinite;
  background: linear-gradient(to top,#757A5B,#C19770,#D5B895,#FAF0DC,#EBDCB5,#757A5B,#C19770,
  #D5B895,#FAF0DC,#EBDCB5);
}

@keyframes orbit6{
  from{transform:rotate(0deg) translateX(217px) rotate(0deg);}
  to{transform:rotate(360deg) translateX(217px) rotate(-360deg);}
  }

  .jupiter-outline{
    height:430px;
    width: 430px;
  }

.jupiter span{
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 20px;
  left: 120%;
}

.saturn{
  height: 50px;
  width: 50px;
  position: absolute;
  border-radius: 50%;
  animation: orbit7 150s linear infinite;
  background-image:url(https://cdn.britannica.com/00/81400-050-8BBE1CDA/Saturn-rings-composite-images-spacecraft-Cassini-Shadows-October-6-2004.jpg);
  /* back */
  background-size: contain;
  background-repeat: no-repeat;
}

@keyframes orbit7{
  from{transform:rotate(0deg) translateX(250px) rotate(0deg);}
  to{transform:rotate(360deg) translateX(250px) rotate(-360deg);}
  }

  .saturn-outline{
    height:500px;
    width: 500px;
  }

.saturn span{
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 20px;
  left: 80.5%;
}



.Uranus{
  height: 30px;
  width: 30px;
  position: absolute;
  border-radius: 50%;
  box-shadow: -4px 2px 40px #cac2b9;
  animation: orbit8 200s linear infinite;
  background: linear-gradient(to top,#9ceDea,#52cbdb,#186c78);
}

@keyframes orbit8{
  from{transform:rotate(0deg) translateX(280px) rotate(0deg);}
  to{transform:rotate(360deg) translateX(280px) rotate(-360deg);}
  }

  .uranus-outline{
    height:560px;
    width: 560px;
  }

.Uranus span{
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 20px;
  left: 100%;
}

.Neptune{
  height: 40px;
  width: 40px;
  position: absolute;
  border-radius: 50%;
  box-shadow: -4px 2px 40px #cac2b9;
  animation: orbit9 250s linear infinite;
  background: linear-gradient(to top,#2E5D9D,#3160a2,#5284ca,#1e3b54);
}

@keyframes orbit9{
  from{transform:rotate(0deg) translateX(310px) rotate(0deg);}
  to{transform:rotate(360deg) translateX(310px) rotate(-360deg);}
}

.neptune-outline{
  height:620px;
  width: 620px;
}

.Neptune span{
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 20px;
  left: 99%;
}



h1{
  position: absolute;
  top:0%;
  font-weight: bold;
  color:paleturquoise;
  text-transform: uppercase;
  text-decoration: underline;

  animation: animation 0.5s steps(5, start) infinite;
  -webkit-animation: animation 0.5s steps(5, start) infinite;
}
@keyframes animation {
  to {
    visibility: hidden;
  }
}


@media (max-width: 768px) {
  .sun{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    box-shadow: -4px 2px 40px #f9c05f;
    background-color: red;
    position: absolute;
  }
  @keyframes orbit2{
    from{transform:rotate(0deg) translateX(35px) rotate(0deg);}
    to{transform:rotate(360deg) translateX(35px) rotate(-360deg);}
    }
  .mercury{
    height: 10px;
    width: 10px;
  }
  .mercury-outline{
    height:70px;
    width: 70px;
  }
  .mercury span{
    font-size: 10px;
    left: 10px;
  }
  @keyframes orbit3{
    from{transform:rotate(0deg) translateX(50px) rotate(0deg);}
    to{transform:rotate(360deg) translateX(50px) rotate(-360deg);}
    }
  .venus{ 
    height: 17.5px;
    width: 17.5px;
  }
  .venus-outline{
    height:100px;
    width: 100px;
  }
  .venus span{
    font-size: 10px;
    left: 100%;
  }
  @keyframes orbit4{
    from{transform:rotate(0deg) translateX(75px) rotate(0deg);}
    to{transform:rotate(360deg) translateX(75px) rotate(-360deg);}
    }
   .earth{
    height: 25px;
    width: 25px;
  }
  .earth span{
    font-size: 10px;
    left: 100%;
  }
  .earth-outline{
    height:150px;
    width: 150px;
  }
  @keyframes orbit5{
    from{transform:rotate(0deg) translateX(92.5px) rotate(0deg);}
    to{transform:rotate(360deg) translateX(92.5px) rotate(-360deg);}
    }  
    .mars{
      height: 15px;
      width: 15px;
    }
    .mars span{
      font-size: 10px;
      left: 100%;
    }
    .mars-outline{
      height:185px;
      width: 185px;
    }
    @keyframes orbit5{
      from{transform:rotate(0deg) translateX(92px) rotate(0deg);}
      to{transform:rotate(360deg) translateX(92px) rotate(-360deg);}
      }
  .jupiter{
    height: 24.5px;
    width: 24.5px;
  }
  .jupiter span{
    font-size: 10px;
    left: 100%;
  }
  @keyframes orbit6{
    from{transform:rotate(0deg) translateX(108.5px) rotate(0deg);}
    to{transform:rotate(360deg) translateX(108.5px) rotate(-360deg);}
    }
  
    .jupiter-outline{
      height:215px;
      width: 215px;
    }
  .saturn{
    height: 25px;
    width: 25px;
  }
  .saturn span{
    font-size: 10px;
    left: 100%;
  }
  @keyframes orbit7{
    from{transform:rotate(0deg) translateX(125px) rotate(0deg);}
    to{transform:rotate(360deg) translateX(125px) rotate(-360deg);}
    }
  
    .saturn-outline{
      height:250px;
      width: 250px;
    }
  .Uranus{
    height: 15px;
    width: 15px;
  }
  .Uranus span{
    font-size: 10px;
    left: 100%;
  }
@keyframes orbit8{
  from{transform:rotate(0deg) translateX(140px) rotate(0deg);}
  to{transform:rotate(360deg) translateX(140px) rotate(-360deg);}
  }

  .uranus-outline{
    height:280px;
    width: 280px;
  }
  .Neptune{
    height: 20px;
    width: 20px;
  }
  .Neptune span{
    font-size: 10px;
    left: 100%;
  }
  @keyframes orbit9{
    from{transform:rotate(0deg) translateX(155px) rotate(0deg);}
    to{transform:rotate(360deg) translateX(155px) rotate(-360deg);}
  }
  
  .neptune-outline{
    height:310px;
    width: 310px;
  } 
 
}